@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<form method="post">
<table class="table">
        <thead>
        <tr>
            <th>
                    <input asp-for="@Model.SelectAllUsers" class="form-check-input" name="SelectAllUsers">
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Users[0].Id)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Users[0].UserName)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Users[0].RegistrationTime)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Users[0].LastLoginTime)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Users[0].BlockStatus)
            </th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Users.Count(); i++)
        {
            <tr>
                <td>
                        <input asp-for="@Model.Users[i].IsSelected" class="form-check-input" name="SelectedUserId" value="@Model.Users[i].Id">
                </td>
                <td>
                        @Html.DisplayFor(modelItem => modelItem.Users[i].Id)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => modelItem.Users[i].UserName)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => modelItem.Users[i].Email)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => modelItem.Users[i].RegistrationTime)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => modelItem.Users[i].LastLoginTime)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => modelItem.Users[i].BlockStatus)
                </td>
            </tr>
        }
    </tbody>
        <div class="container-buttons">
        <input type="submit" value="Block" asp-page-handler="Block" class="btn btn-warning" />
        <input type="submit" value="Unblock" asp-page-handler="Unblock" class="btn btn-success" />
        <input type="submit" value="Delete" asp-page-handler="Delete" class="btn btn-danger" />
        </div>
    </table>
</form>
